@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdffff; 
    color: #6b4c3a; 
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8f7f2;
    border-bottom: 2px solid #e2d4c6;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    width: 165px;
    height: 200px;
    border: 3px solid #d2b48c; 
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.header img:hover {
    transform: scale(1.2); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px; 
}

.header-content h1 {
    margin: 0;
    font-size: 2rem;
    color: #5a4231;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #ae7e5e;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 250px; 
}

section {
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    background-color: #f8f7f2; 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out forwards;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#yo {
    border: 2px solid #fe6cb5; 
}
#educacion {
    border: 2px solid #ff0000; 
}
#sobre-mi {
    border: 2px solid #0000ff; 
}
#habilidades {
    border: 2px solid #220404; 
}
#experiencia-laboral {
    border: 2px solid #000000; 
}
#deportes {
    border: 2px solid #00ff00; 
}
#idiomas {
    border: 2px solid #ff00ff; 
}
#competencias {
    border: 2px solid #00ffff; 
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #473c38;
}

footer img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

