body {
    background-color: #f5f5dc; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

section {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
}

section:nth-child(odd) {
    order: 1;
}

section:nth-child(even) {
    order: 2;
}

